extends layout

block body
  h1 Julian's Sicknasty Instant Messenger (JSIM)
  div(ng-controller='AppCtrl')
    .col
      h3 Messages
      .overflowable
        p(ng-repeat='message in messages',
          ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}
    style.
          p {
              font-size: 22px;
          }
    .col
      h3 Users
      .overflowable
        p(ng-repeat='user in users') {{user}}

    .clr
      form(ng-submit='sendMessage()')
        h2 Send a message!
        input(size='60', ng-model='message', class='messagebox')
        input(type='submit', value='Send', class='button')

    .clr
      h3 Change your name!
      p Your current user name is {{name}}
      form(ng-submit='changeName()')
        input(ng-model='newName', class='namebox')
        input(type='submit', value='Change Name', class='button')

  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
