doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Julian's Sicknasty Instant Messenger (JSIM)
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
