/* app css stylesheet */

.overflowable {
  height: 500px;
  overflow-y: auto;
  border: 1px solid #000;
  background-color: #e6c300;

  /*background-image: url("http://i2.kym-cdn.com/entries/icons/facebook/000/002/691/Naamloos-1.jpg");*/
}

.boxtext {
  margin-left: 4px !important;
}


.heading {
  font-size: 76px;
}



.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}

body {
background-color: #e6c300;
  /*background-image: url("http://i2.kym-cdn.com/entries/icons/facebook/000/002/691/Naamloos-1.jpg");*/
}

.button {
  width: 150px;
  height: 68px;
  font-size: 16pt;
  margin-left: 10px;
}
.messagebox {
  width: 600px;
  height: 55px;
  font-size: 20pt;
}
.namebox {
  width: 200px;
  height: 55px;
  font-size: 20pt;
}

@font-face {
    font-family: 'forced_squaremedium';
    src: url('forced_square-webfont.woff2') format('woff2'),
         url('forced_square-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*
{
  color: #000 !important;
  font-family: forced_squaremedium !important;
}
