/* app css stylesheet */

.overflowable {
  height: 750;
  overflow-y: auto;
  overflow-x: auto;
  border: 5px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}
